<!DOCTYPE HTML>
<html>
<head>
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <title>Group Study Timer - Maharsh Patel</title>
	<meta charset="utf-8" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/fonts.css" type="text/css" />
	<!-- <link rel="stylesheet" href="../static/css/styles.css" type="text/css" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" charset="utf-8">
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="countdown_area">
            <div class="row">
                <img id="logo" src="../static/images/grouptimer.svg"></img>
                <a id="credits" href="https://www.maharsh.net">Made by Maharsh</a>

            </div>
            <div class="row">
                <div id="countdown">25:00</div>
            </div>
            <div class="row">
                <p id="inviteLink" style="display: none;">Something Went Wrong</p>
                <button id="inviteButton" onclick="copyInviteLink('inviteLink')" data-toggle="tooltip" class="center-block">INVITE</button>
            </div>
        </div>
        <div class="row" id="control_area">
            <div class="col-md-4 col-md-push-4">
                    <div class="col-md-8 col-md-push-2 control_text">
                        <form id="playtoggle" method="POST" action="#">
                            <button id="startButton" class= "control_item btn-block">START</button>
                        </form>
                    </div>
                    <div class="col-md-2 col-md-pull-8 control_text">
                        <form id="resetButton" method="POST" action="#">
                            <button class="sideButtons control_item btn-block">RESET</button>
                        </form>
                    </div>

                    <div class="col-md-2 control_text">
                        <form id="breakToggle" method="POST" action="#">
                            <button class="sideButtons control_item btn-block">SKIP</button>
                        </form>
                    </div>
            </div>
            <div class="col-md-4 col-md-pull-4" id="members_section">
                MEMBERS CONNECTED <br>
                <span id="members_online_counter">1</span>
            </div>

            <div class="col-md-4" id="sessions_section">
                STUDY SESSIONS COMPLETED <br>
                <span id="study_session_counter">0</span>
            </div>
        </div>

    </div>


</body>
<style>
html, body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    background: #170420;
    font-family: "trakr_fancy";
}
#logo{
    padding-left:50px;
    padding-top:20px;
}
#credits{
    padding-right:50px;
    padding-top:20px;
    text-align: right;
    float: right;
    font-weight: 100;
    opacity: 0.2;
}
#credits:hover{
    opacity: 1;
    color: white;
}
a {
  color: white; /* blue colors for links too */
  text-decoration: none; /* no underline */
}
a:hover{
    text-decoration: none; /* no underline */
}
.container-fluid{
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}

#countdown_area{
    background-color: #170420;
    height: 85vh;
    color: white;
}
#countdown{
    font-size: 15vw;
    text-align: center;
    line-height: 60vh;
    font-weight: 100;
}
#inviteButton{
    background-color: #C41943;
    border: none;
    padding: 20px;
    width: 200px;
    outline: 0;
}

#control_area{
    background-color: #F1EFF8;
    /*height:15vh;*/
}
.control_text{
    color: #170420;
    padding: 0;
}
.control_item{
    height: 15vh;
}
.sideButtons{
    background-color: #C41943;
    border: none;
    font-weight: 100;
    color: #F1EFF8;
    outline: 0;
}
#startButton{
    background-color: #E71D4A;
    border: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #F1EFF8;
    outline: 0;

}

#members_section{
    color: #170420;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    letter-spacing: -0.5px;
    font-size: 16px;
}

#sessions_section{
    color: #170420;
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
    letter-spacing: -0.5px;
    font-size: 16px;

}
#members_online_counter, #study_session_counter{
    font-size: 8vh;
}

@media only screen and (max-width: 700px) {
    #members_section, #sessions_section{
        text-align: center;
        padding: 0;
        padding-top: 10px;
    }
    #logo{
        display: none;
    }
    #credits{
        display: none;
    }
    #inviteButton{
        /*visibility: hidden;*/
        position: absolute;
        left: 0px;
        bottom: 15vh;
        padding: 10px;
        width: 100%;
        background-color: #170420;

    }

}
</style>
<script>
// var snd1  = new Audio();
// var src1  = document.createElement("source");
// src1.type = "audio/mp3";
// src1.src  = "../static/sounds/fire.mp3";
// snd1.appendChild(src1);



// var snd1  = new Audio();
// var src1  = document.createElement("source");
// src1.type = "audio/ogg";
// src1.src  = "../static/sounds/fire.ogg";
// snd1.appendChild(src1);
//
// var snd2  = new Audio();
// snd2.volume = 0.1;
// var src2  = document.createElement("source");
// src2.src  = "../static/sounds/fan.mp3";
//
// snd2.appendChild(src2);
//
// snd2.addEventListener('timeupdate', function(){
//                 var buffer = 3;
//                 // console.log(this.currentTime);
//                 if(this.currentTime > this.duration - buffer){
//                     // console.log(this.currentTime);
//                     this.currentTime = 3;
//                     this.play();
//                 }}, false);
//
// //
// // snd1.play();
// snd2.play();

// fan_audio = new Audio("../static/sounds/fan.mp3");
// fan_audio.volume = 0.1
// fan_audio.addEventListener('ended', function() {
//     // this.currentTime = 0;
//     this.currentTime = 3;
//     this.play();
// }, false);
// fan_audio.play();


// cafe_audio = new Audio("../static/sounds/coffee.mp3");
// cafe_audio.volume = 0.3;
// cafe_audio.addEventListener('ended', function() {
//     // this.currentTime = 0;
//     this.currentTime = 0;
//     this.play();
// }, false);
// cafe_audio.play();


rain_audio = new Audio("../static/sounds/rain.mp3");
rain_audio.volume = 0.8;
rain_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
rain_audio.play();

thunder_audio = new Audio("../static/sounds/thunderstorm.mp3");
thunder_audio.volume = 0.5;
thunder_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
thunder_audio.play();

wind_audio = new Audio("../static/sounds/wind.mp3");
wind_audio.volume = 0.4;
wind_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
wind_audio.play();

leaves_audio = new Audio("../static/sounds/leaves.mp3");
leaves_audio.volume = 0.4;
leaves_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
leaves_audio.play();

fire_audio = new Audio("../static/sounds/fire.mp3");
fire_audio.volume = 0.2;
fire_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
fire_audio.play();

whitenoise_audio = new Audio("../static/sounds/whitenoise.mp3");
whitenoise_audio.volume = 0.05;
whitenoise_audio.addEventListener('ended', function() {
    // this.currentTime = 0;
    this.currentTime = 0;
    this.play();
}, false);
whitenoise_audio.play();

var sources = [rain_audio, thunder_audio, wind_audio, leaves_audio, fire_audio, whitenoise_audio];

function copyInviteLink(elementId) {
  var aux = document.createElement("input");
  aux.setAttribute("value", document.getElementById(elementId).innerHTML);
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);

  // change the text of the button
  document.getElementById("inviteButton").innerText = "COPIED TO CLIPBOARD";

  setInterval(function () {
     //set the inner html, parse the value from the inner html as well
     document.getElementById("inviteButton").innerText = "INVITE";
 }, 3000);


}

function muteAll(){
    for (source in sources){
        console.log(source);
        sources[source].muted = true;
    }
};



function unmuteAll(){
    for (source in sources){
        console.log(source);
        sources[source].muted = false;
    }
};

muteAll();




var socket = null;
$(document).ready(function() {

    // request permission on page load
    document.addEventListener('DOMContentLoaded', function () {
      if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    // Use a "/process" namespace.
    // An application can open a connection on multiple namespaces, and
    // Socket.IO will multiplex all those connections on a single
    // physical channel. If you don't care about multiple channels, you
    // can set the namespace to an empty string.
    namespace = '/process';

    // Connect to the Socket.IO server.
    // The connection URL has the following format:
    //     http[s]://<domain>:<port>[/<namespace>]
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    // responses
    socket.on('response', function(msg) {
        // TODO convert this to a proper disconnect_response

        if (msg.data == "connect"){
            // update the invite link with the room number
            document.getElementById("inviteLink").innerHTML = location.protocol + '//' + document.domain + '/' + msg.room;
            console.log("Invite Link: ",document.getElementById("inviteLink").innerHTML);
        }
        else if (msg.data == "disconnect"){
            // update the online member count
            updateMembersConnected(getMembersConnected() - 1);
        }

        console.log(msg.data);
    });

    socket.on("sync_time_request", function(){
        // called when another user is requesting the timer time

        updateMembersConnected(getMembersConnected() + 1);
        socket.emit('sync_time_event', {time: getTimerValue(), paused: isPaused(), session: current_session, type:"sync", count:getMembersConnected()});
        displayNotification("New User Joined", "A new member has joined the group!");


    });

    socket.on('sync_time_response', function(msg) {
        // called when the current time is being received
        setTimerValue(msg.time, msg.paused);
        current_session = msg.session;
        updateMembersConnected(msg.count);
        // console.log(msg.time);
        if (!notifications){
            notifications = true;
            return;
        }

        if (msg.type == "reset"){
            displayNotification("RESET", "A group member has reset the timer.");
        }
        else if (msg.type == "break"){
            if (current_session % 2 == 0){
                // study session
                displayNotification("STUDY", "A group member has started the study session.");
            }
            else{
                displayNotification("BREAK", "A group member has started the break session.");
            }
        }
        notifications = true;


    });

    socket.on('playtoggle_response', function(msg) {
        toggleTimer();
        console.log("Pause");

        if (pause){
            muteAll();
            document.getElementById("startButton").innerText = "START";
            if (notifications){
                displayNotification("Paused", "A group member has paused the timer.");
            }
        }
        else{
            unmuteAll();
            document.getElementById("startButton").innerText = "PAUSE";
            if (notifications){
                displayNotification("Resume", "A group member has resumed the timer.");
            }
        }

        // the notification were disabled before the request was emitted so that the would not appear for this user
        notifications = true;

    });
    // emit
    $('form#playtoggle').submit(function(event) {
        if (pause){
            document.getElementById("startButton").innerText = "START";
        }else{
            document.getElementById("startButton").innerText = "PAUSE";
        }

        notifications = false;      // don't want this client to receive a notification for this - will be turned on later
        socket.emit('playtoggle_event', {room: ""});
        return false;
    });
    $('form#resetButton').submit(function(event) {
        notifications = false;      // don't want this client to receive a notification for this - will be turned on later
        // tell all connected clients to increase their time by 5 minutes
        socket.emit('sync_time_event', {time: sessions[current_session], paused: isPaused(), session:current_session, type:"reset", count:getMembersConnected()});
        return false;

    });
    $('form#breakToggle').submit(function(event) {
        notifications = false;      // don't want to receive a notification for this - will be turned on later
        // start the next session (could be a break or a study session)
        current_session = (current_session + 1) % 8;
        socket.emit('sync_time_event', {time: sessions[current_session], paused: isPaused(), session:current_session, type:"break", count:getMembersConnected()});
        return false;

    });


});


var element, endTime, hours, mins, msLeft, time;
var pause = true;


var sessions = [15000, 30000, 15000, 3000, 15000, 3000, 15000, 9000];        // [study, break, study, break ...]
var current_session = 0;
var pause_time = sessions[0];

var notifications = true;

var members_connected = 1;
var study_sessions_completed = 0;

// document.getElementById("countdown").innerHTML = "25:00";
// set the initial time on the screen
// document.getElementById("countdown").innerHTML = ("25:00");

function countdown(elementName, milliseconds){
    function twoDigits(n){
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer(){
        // if the timer is paused then don't do any updates to the time
        if (pause){
            return 1;
        }
        msLeft = endTime - (+new Date);

        if (msLeft < 0) {
            current_session = (current_session + 1) % 8;
            // break and study notifications
            if (current_session % 2 == 0){
                // study session
                displayNotification("STUDY", "Time to study!");
            }
            else{
                displayNotification("BREAK", "Time for a break!");
                study_sessions_completed += 1;
                document.getElementById("study_session_counter").innerHTML = study_sessions_completed;
            }
            setTimerValue(sessions[current_session], false);

        }
        else{
            time = new Date(msLeft);
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds());
            setTimeout(updateTimer, time.getUTCMilliseconds() + 500);

        }
    }
    element = document.getElementById(elementName);
    endTime = (+new Date) + milliseconds;
    updateTimer();

}

// countdown("countdown", 1500000);


function getTimerValue(){
    if (!msLeft){
        return(sessions[current_session])
    }
    return(msLeft);
}

function setTimerValue(time_left, paused){
    pause = false;
    document.getElementById("startButton").innerText = "PAUSE";
    countdown("countdown", time_left);
    if (paused){
        document.getElementById("startButton").innerText = "START";
        pause = true;
        pause_time = time_left;
    }

}

function toggleTimer(){
    //plays or pauses timer
    if(pause){
        // play
        pause = false;
        countdown("countdown", pause_time);
    }
    else{
        // pause
        pause = true;
        pause_time = getTimerValue();
    }

}

function isPaused(){
    return pause;
}


function displayNotification(title, body){
    if (!Notification) {
    alert('Desktop notifications not available in your browser. Try Chromium.');
    return;
  }

  if (Notification.permission !== "granted")
    Notification.requestPermission();
  else {
    var notification = new Notification(title, {
      icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
      body: body,
    });

  }
}

function getMembersConnected(){
    return members_connected;
}

function updateMembersConnected(count){
    members_connected = count;
    document.getElementById("members_online_counter").innerHTML = members_connected;
}
</script>

</html>
