<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/process" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/process';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('room_number_response', function(msg) {
                // TODO set the value of the invisible input here
                $('#log').append('<br>' + $('<div/>').text(msg.room_number).html());
            });

            // socket.on('connect', function() {
            //     socket.emit('connect_event', {data: 'I\'m connected!'});
            //     // TODO could also create an event here to get the time
            // });


            socket.on('response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on("sync_time_request", function(){
                // called when another user is requesting the timer time
                socket.emit('sync_time_event', {time: getTimerValue(), paused: isPaused()});
            })

            socket.on('sync_time_response', function(msg) {
                // called when the current time is being received
                setTimerValue(msg.time, msg.paused);
                $('#log').append('<br>' + $('<div/>').text(msg.time).html());
                // $('#log').append('<br>' + $('<div/>').text(getTimerValue()).html());
            });

            socket.on('playtoggle_response', function(msg) {
                toggleTimer();
                // alert("Play");
            });


            $('form#broadcast').submit(function(event) {
                socket.emit('broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            // $('form#join').submit(function(event) {
            //     socket.emit('join_event', {room: $('#join_room').val()});
            //     return false;
            // });

            $('form#send_room').submit(function(event) {
                socket.emit('room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });

            $('form#playtoggle').submit(function(event) {
                socket.emit('playtoggle_event', {room: sessionStorage.room_number});
                $('#log').append('<br>' + $('<div/>').text("Sent Pause Signal").html());
                return false;
            });
        });
    </script>
</head>
<body>
    <div id="countdown"></div>

    <!-- <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p> -->
    <h2>Send:</h2>
    <!-- <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form> -->
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <!-- <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form> -->
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="playtoggle" method="POST" action="#">
        <input type="submit" value="Play/Pause">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>

<script>
var element, endTime, hours, mins, msLeft, time;
var pause = false;

var pause_time = 0;

function countdown(elementName, milliseconds){
    function twoDigits(n){
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer(){
        // if the timer is paused then don't do any updates to the time
        if (pause){
            return 1;
        }
        msLeft = endTime - (+new Date);

        if (msLeft < 1000) {
            element.innerHTML = "countdown's over!";
        }
        else{
            time = new Date(msLeft);
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
        }
    }
    element = document.getElementById( elementName );
    endTime = (+new Date) + milliseconds;
    updateTimer();

}

countdown("countdown", 1500000);

function getTimerValue(){
    return(msLeft);
}

function setTimerValue(time_left, paused){
    countdown("countdown", time_left);
    if (paused){
        pause = true;
        pause_time = time_left;
    }

}

function toggleTimer(){
    //plays or pauses timer
    if(pause){
        pause = false;
        countdown("countdown", pause_time);
    }
    else{
        pause = true;
        pause_time = getTimerValue();
    }

}

function isPaused(){
    if (pause){
        return(true);
    }
    return(false);
}

function takeBreak(){
    // set the timer to 5mins

}

</script>
</html>
